/* General Styles */

body {
    text-align: center;
    font-family: 'Prompt', sans-serif;
    color: #00ff15;
    background-color: #322a3b;
    margin: 0% auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1{
    margin: 0% auto;
}

header {
    background-color: #201a29;
}

nav {
    margin-top: 50px;
}

nav > ul {
    display: flex;
    justify-content: center;
    padding: 0%;
    list-style-type: none;
}

nav > ul > li {
    width: 33.3em;
}

/* li {
    list-style-type: none;
} */

a {
    text-decoration: none;
    color: #00ff15;
}

a:hover {
    color: #ffffff;
}

main > div {
    background-color: #201a29;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

main {
    padding-top: 20px;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    background-image: url("images/me.png");
    background-size: cover;
    background-position: center;
}

video {
    width: 70%;
}

#header-img {
    -webkit-animation: grow 2s 1;
}

@-webkit-keyframes grow {
    0% {
   -webkit-transform: scale( 0 );-moz-transform: scale( 0 );-o-transform: scale( 0 );-ms-transform: scale( 0 );transform: scale( 0 );
     }

     100% {
     -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
     }
   }

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

/* @media screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
} */

.box {
    border: 3px white solid;
    width: 200px;
    height: 200px;
    margin: 10px;
    background-size: cover;
    background-position: center;
}

.box2 {
    border: 3px white solid;
    width: 400px;
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
}

.box:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.links-container {
    min-width:360px;
}