/* GENERAL STYLES */

body {
    text-align: center;
    /* font-family: 'Prompt', sans-serif; */
    font-family: 'Orbitron', sans-serif;
    color: #00ff15;
    background-color: #322a3b;
    margin: 0% auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    background-color: #201a29;
}

nav {
    margin-top: 50px;
}

/* main {
    padding-top: 20px;
    padding-bottom: 20px;
} */

video {
    width: 70%;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

/* NESTED STYLES */

nav > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 20px;
}

nav > ul > li {
    width: 33.3em;
}

main > div {
    background-color: #201a29;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* TEXT */

h1{
    margin: 0% auto;
}

h1, h2, h3, nav {
    letter-spacing: 1px;
}

/* LINKS */

a {
    text-decoration: none;
    color: #00ff15;
}

a:hover {
    color: #ffffff;
}

/* CONTAINERS */

.container {
    min-width:360px;
    max-width: 720px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.box {
    border: 3px white solid;
    width: 200px;
    height: 200px;
    margin: 10px;
    background-size: cover;
    background-position: center;
}

.box2 {
    border: 3px white solid;
    width: 360px;
    height: 360px;
    margin-left: 10px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    background-image: url("images/me.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*  */

@media screen and (max-width: 600px) {
    video {
        width:480px;
    }
    
    /* .flex-container {
        flex-direction: column;
    } */
}

/* UTILITIES */

.box:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

/* ANIMATIONS */

@-webkit-keyframes grow {
    0% {
   -webkit-transform: scale( 0 );-moz-transform: scale( 0 );-o-transform: scale( 0 );-ms-transform: scale( 0 );transform: scale( 0 );
     }

     100% {
     -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
     }
   }

#header-img {
    -webkit-animation: grow 2s 1;
}