body {
    text-align: center;
    font-size: 16pt;
    background-color: rgb(202, 184, 218);
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    background-color: white;
    border-radius: 10px;
    width: 200px;
    padding: 10px;
}

canvas {
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
}

#word {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

/* Button Container */
#buttons {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 550px;
}

button, input {
    padding: 10px;
    margin: 10px;
    font-size: 16pt;
    background-color: rgb(120, 119, 218);
    border: 3px solid;
    border-radius: 3px;
    border-color: rgb(168, 168, 245);
    color: rgb(168, 168, 245);
}

input {
    padding: 20px;
    width: 300px;
    font-size: 20pt;
    border-radius: 10px;
}

button:hover, input:hover {
    background-color: rgb(168, 168, 245);
    border-color: rgb(120, 119, 218);
    color: rgb(120, 119, 218);
}

button:disabled {
    background-color: rgb(139, 139, 143);
    border-color: rgb(139, 139, 143);
    color: rgb(98, 98, 100);
}